/*
 * Variables are in the following format:
 * --[category]-[shade]: [color]; // for 100% opacity, or
 * --[category]-[shade]-[opacity]: [color]; // for [opacity]% opacity
 */

@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f6eff5;
    --text-50-90: #f6eff5e5;
    --text-50-80: #f6eff5cc;
    --text-50-70: #f6eff5b2;
    --text-50-60: #f6eff599;
    --text-50-50: #f6eff57f;
    --text-50-40: #f6eff566;
    --text-50-30: #f6eff54c;
    --text-50-20: #f6eff533;
    --text-50-10: #f6eff519;

    --text-100: #ecdfeb;
    --text-100-90: #ecdfebe5;
    --text-100-80: #ecdfebcc;
    --text-100-70: #ecdfebb2;
    --text-100-60: #ecdfeb99;
    --text-100-50: #ecdfeb7f;
    --text-100-40: #ecdfeb66;
    --text-100-30: #ecdfeb4c;
    --text-100-20: #ecdfeb33;
    --text-100-10: #ecdfeb19;

    --text-200: #dabed6;
    --text-200-90: #dabed6e5;
    --text-200-80: #dabed6cc;
    --text-200-70: #dabed6b2;
    --text-200-60: #dabed699;
    --text-200-50: #dabed67f;
    --text-200-40: #dabed666;
    --text-200-30: #dabed64c;
    --text-200-20: #dabed633;
    --text-200-10: #dabed619;

    --text-300: #c79ec2;
    --text-300-90: #c79ec2e5;
    --text-300-80: #c79ec2cc;
    --text-300-70: #c79ec2b2;
    --text-300-60: #c79ec299;
    --text-300-50: #c79ec27f;
    --text-300-40: #c79ec266;
    --text-300-30: #c79ec24c;
    --text-300-20: #c79ec233;
    --text-300-10: #c79ec219;

    --text-400: #b57dad;
    --text-400-90: #b57dade5;
    --text-400-80: #b57dadcc;
    --text-400-70: #b57dadb2;
    --text-400-60: #b57dad99;
    --text-400-50: #b57dad7f;
    --text-400-40: #b57dad66;
    --text-400-30: #b57dad4c;
    --text-400-20: #b57dad33;
    --text-400-10: #b57dad19;

    --text-500: #a25d99;
    --text-500-90: #a25d99e5;
    --text-500-80: #a25d99cc;
    --text-500-70: #a25d99b2;
    --text-500-60: #a25d9999;
    --text-500-50: #a25d997f;
    --text-500-40: #a25d9966;
    --text-500-30: #a25d994c;
    --text-500-20: #a25d9933;
    --text-500-10: #a25d9919;

    --text-600: #824a7a;
    --text-600-90: #824a7ae5;
    --text-600-80: #824a7acc;
    --text-600-70: #824a7ab2;
    --text-600-60: #824a7a99;
    --text-600-50: #824a7a7f;
    --text-600-40: #824a7a66;
    --text-600-30: #824a7a4c;
    --text-600-20: #824a7a33;
    --text-600-10: #824a7a19;

    --text-700: #61385c;
    --text-700-90: #61385ce5;
    --text-700-80: #61385ccc;
    --text-700-70: #61385cb2;
    --text-700-60: #61385c99;
    --text-700-50: #61385c7f;
    --text-700-40: #61385c66;
    --text-700-30: #61385c4c;
    --text-700-20: #61385c33;
    --text-700-10: #61385c19;

    --text-800: #41253d;
    --text-800-90: #41253de5;
    --text-800-80: #41253dcc;
    --text-800-70: #41253db2;
    --text-800-60: #41253d99;
    --text-800-50: #41253d7f;
    --text-800-40: #41253d66;
    --text-800-30: #41253d4c;
    --text-800-20: #41253d33;
    --text-800-10: #41253d19;

    --text-900: #20131f;
    --text-900-90: #20131fe5;
    --text-900-80: #20131fcc;
    --text-900-70: #20131fb2;
    --text-900-60: #20131f99;
    --text-900-50: #20131f7f;
    --text-900-40: #20131f66;
    --text-900-30: #20131f4c;
    --text-900-20: #20131f33;
    --text-900-10: #20131f19;

    --text-950: #10090f;
    --text-950-90: #10090fe5;
    --text-950-80: #10090fcc;
    --text-950-70: #10090fb2;
    --text-950-60: #10090f99;
    --text-950-50: #10090f7f;
    --text-950-40: #10090f66;
    --text-950-30: #10090f4c;
    --text-950-20: #10090f33;
    --text-950-10: #10090f19;

    --background-50: #f6eef4;
    --background-50-90: #f6eef4e5;
    --background-50-80: #f6eef4cc;
    --background-50-70: #f6eef4b2;
    --background-50-60: #f6eef499;
    --background-50-50: #f6eef47f;
    --background-50-40: #f6eef466;
    --background-50-30: #f6eef44c;
    --background-50-20: #f6eef433;
    --background-50-10: #f6eef419;

    --background-100: #eedde9;
    --background-100-90: #eedde9e5;
    --background-100-80: #eedde9cc;
    --background-100-70: #eedde9b2;
    --background-100-60: #eedde999;
    --background-100-50: #eedde97f;
    --background-100-40: #eedde966;
    --background-100-30: #eedde94c;
    --background-100-20: #eedde933;
    --background-100-10: #eedde919;

    --background-200: #ddbbd3;
    --background-200-90: #ddbbd3e5;
    --background-200-80: #ddbbd3cc;
    --background-200-70: #ddbbd3b2;
    --background-200-60: #ddbbd399;
    --background-200-50: #ddbbd37f;
    --background-200-40: #ddbbd366;
    --background-200-30: #ddbbd34c;
    --background-200-20: #ddbbd333;
    --background-200-10: #ddbbd319;

    --background-300: #cc99bd;
    --background-300-90: #cc99bde5;
    --background-300-80: #cc99bdcc;
    --background-300-70: #cc99bdb2;
    --background-300-60: #cc99bd99;
    --background-300-50: #cc99bd7f;
    --background-300-40: #cc99bd66;
    --background-300-30: #cc99bd4c;
    --background-300-20: #cc99bd33;
    --background-300-10: #cc99bd19;

    --background-400: #bb77a8;
    --background-400-90: #bb77a8e5;
    --background-400-80: #bb77a8cc;
    --background-400-70: #bb77a8b2;
    --background-400-60: #bb77a899;
    --background-400-50: #bb77a87f;
    --background-400-40: #bb77a866;
    --background-400-30: #bb77a84c;
    --background-400-20: #bb77a833;
    --background-400-10: #bb77a819;

    --background-500: #aa5592;
    --background-500-90: #aa5592e5;
    --background-500-80: #aa5592cc;
    --background-500-70: #aa5592b2;
    --background-500-60: #aa559299;
    --background-500-50: #aa55927f;
    --background-500-40: #aa559266;
    --background-500-30: #aa55924c;
    --background-500-20: #aa559233;
    --background-500-10: #aa559219;

    --background-600: #884475;
    --background-600-90: #884475e5;
    --background-600-80: #884475cc;
    --background-600-70: #884475b2;
    --background-600-60: #88447599;
    --background-600-50: #8844757f;
    --background-600-40: #88447566;
    --background-600-30: #8844754c;
    --background-600-20: #88447533;
    --background-600-10: #88447519;

    --background-700: #663357;
    --background-700-90: #663357e5;
    --background-700-80: #663357cc;
    --background-700-70: #663357b2;
    --background-700-60: #66335799;
    --background-700-50: #6633577f;
    --background-700-40: #66335766;
    --background-700-30: #6633574c;
    --background-700-20: #66335733;
    --background-700-10: #66335719;

    --background-800: #44223a;
    --background-800-90: #44223ae5;
    --background-800-80: #44223acc;
    --background-800-70: #44223ab2;
    --background-800-60: #44223a99;
    --background-800-50: #44223a7f;
    --background-800-40: #44223a66;
    --background-800-30: #44223a4c;
    --background-800-20: #44223a33;
    --background-800-10: #44223a19;

    --background-900: #22111d;
    --background-900-90: #22111de5;
    --background-900-80: #22111dcc;
    --background-900-70: #22111db2;
    --background-900-60: #22111d99;
    --background-900-50: #22111d7f;
    --background-900-40: #22111d66;
    --background-900-30: #22111d4c;
    --background-900-20: #22111d33;
    --background-900-10: #22111d19;

    --background-950: #11090f;
    --background-950-90: #11090fe5;
    --background-950-80: #11090fcc;
    --background-950-70: #11090fb2;
    --background-950-60: #11090f99;
    --background-950-50: #11090f7f;
    --background-950-40: #11090f66;
    --background-950-30: #11090f4c;
    --background-950-20: #11090f33;
    --background-950-10: #11090f19;

    --primary-50: #f7edf6;
    --primary-50-90: #f7edf6e5;
    --primary-50-80: #f7edf6cc;
    --primary-50-70: #f7edf6b2;
    --primary-50-60: #f7edf699;
    --primary-50-50: #f7edf67f;
    --primary-50-40: #f7edf666;
    --primary-50-30: #f7edf64c;
    --primary-50-20: #f7edf633;
    --primary-50-10: #f7edf619;

    --primary-100: #f0dbec;
    --primary-100-90: #f0dbece5;
    --primary-100-80: #f0dbeccc;
    --primary-100-70: #f0dbecb2;
    --primary-100-60: #f0dbec99;
    --primary-100-50: #f0dbec7f;
    --primary-100-40: #f0dbec66;
    --primary-100-30: #f0dbec4c;
    --primary-100-20: #f0dbec33;
    --primary-100-10: #f0dbec19;

    --primary-200: #e1b7da;
    --primary-200-90: #e1b7dae5;
    --primary-200-80: #e1b7dacc;
    --primary-200-70: #e1b7dab2;
    --primary-200-60: #e1b7da99;
    --primary-200-50: #e1b7da7f;
    --primary-200-40: #e1b7da66;
    --primary-200-30: #e1b7da4c;
    --primary-200-20: #e1b7da33;
    --primary-200-10: #e1b7da19;

    --primary-300: #d293c7;
    --primary-300-90: #d293c7e5;
    --primary-300-80: #d293c7cc;
    --primary-300-70: #d293c7b2;
    --primary-300-60: #d293c799;
    --primary-300-50: #d293c77f;
    --primary-300-40: #d293c766;
    --primary-300-30: #d293c74c;
    --primary-300-20: #d293c733;
    --primary-300-10: #d293c719;

    --primary-400: #c36fb5;
    --primary-400-90: #c36fb5e5;
    --primary-400-80: #c36fb5cc;
    --primary-400-70: #c36fb5b2;
    --primary-400-60: #c36fb599;
    --primary-400-50: #c36fb57f;
    --primary-400-40: #c36fb566;
    --primary-400-30: #c36fb54c;
    --primary-400-20: #c36fb533;
    --primary-400-10: #c36fb519;

    --primary-500: #b44ba2;
    --primary-500-90: #b44ba2e5;
    --primary-500-80: #b44ba2cc;
    --primary-500-70: #b44ba2b2;
    --primary-500-60: #b44ba299;
    --primary-500-50: #b44ba27f;
    --primary-500-40: #b44ba266;
    --primary-500-30: #b44ba24c;
    --primary-500-20: #b44ba233;
    --primary-500-10: #b44ba219;

    --primary-600: #903c82;
    --primary-600-90: #903c82e5;
    --primary-600-80: #903c82cc;
    --primary-600-70: #903c82b2;
    --primary-600-60: #903c8299;
    --primary-600-50: #903c827f;
    --primary-600-40: #903c8266;
    --primary-600-30: #903c824c;
    --primary-600-20: #903c8233;
    --primary-600-10: #903c8219;

    --primary-700: #6c2d61;
    --primary-700-90: #6c2d61e5;
    --primary-700-80: #6c2d61cc;
    --primary-700-70: #6c2d61b2;
    --primary-700-60: #6c2d6199;
    --primary-700-50: #6c2d617f;
    --primary-700-40: #6c2d6166;
    --primary-700-30: #6c2d614c;
    --primary-700-20: #6c2d6133;
    --primary-700-10: #6c2d6119;

    --primary-800: #481e41;
    --primary-800-90: #481e41e5;
    --primary-800-80: #481e41cc;
    --primary-800-70: #481e41b2;
    --primary-800-60: #481e4199;
    --primary-800-50: #481e417f;
    --primary-800-40: #481e4166;
    --primary-800-30: #481e414c;
    --primary-800-20: #481e4133;
    --primary-800-10: #481e4119;

    --primary-900: #240f20;
    --primary-900-90: #240f20e5;
    --primary-900-80: #240f20cc;
    --primary-900-70: #240f20b2;
    --primary-900-60: #240f2099;
    --primary-900-50: #240f207f;
    --primary-900-40: #240f2066;
    --primary-900-30: #240f204c;
    --primary-900-20: #240f2033;
    --primary-900-10: #240f2019;

    --primary-950: #120810;
    --primary-950-90: #120810e5;
    --primary-950-80: #120810cc;
    --primary-950-70: #120810b2;
    --primary-950-60: #12081099;
    --primary-950-50: #1208107f;
    --primary-950-40: #12081066;
    --primary-950-30: #1208104c;
    --primary-950-20: #12081033;
    --primary-950-10: #12081019;

    --secondary-50: #f8ecf6;
    --secondary-50-90: #f8ecf6e5;
    --secondary-50-80: #f8ecf6cc;
    --secondary-50-70: #f8ecf6b2;
    --secondary-50-60: #f8ecf699;
    --secondary-50-50: #f8ecf67f;
    --secondary-50-40: #f8ecf666;
    --secondary-50-30: #f8ecf64c;
    --secondary-50-20: #f8ecf633;
    --secondary-50-10: #f8ecf619;

    --secondary-100: #f2d9ee;
    --secondary-100-90: #f2d9eee5;
    --secondary-100-80: #f2d9eecc;
    --secondary-100-70: #f2d9eeb2;
    --secondary-100-60: #f2d9ee99;
    --secondary-100-50: #f2d9ee7f;
    --secondary-100-40: #f2d9ee66;
    --secondary-100-30: #f2d9ee4c;
    --secondary-100-20: #f2d9ee33;
    --secondary-100-10: #f2d9ee19;

    --secondary-200: #e4b4dc;
    --secondary-200-90: #e4b4dce5;
    --secondary-200-80: #e4b4dccc;
    --secondary-200-70: #e4b4dcb2;
    --secondary-200-60: #e4b4dc99;
    --secondary-200-50: #e4b4dc7f;
    --secondary-200-40: #e4b4dc66;
    --secondary-200-30: #e4b4dc4c;
    --secondary-200-20: #e4b4dc33;
    --secondary-200-10: #e4b4dc19;

    --secondary-300: #d78ecb;
    --secondary-300-90: #d78ecbe5;
    --secondary-300-80: #d78ecbcc;
    --secondary-300-70: #d78ecbb2;
    --secondary-300-60: #d78ecb99;
    --secondary-300-50: #d78ecb7f;
    --secondary-300-40: #d78ecb66;
    --secondary-300-30: #d78ecb4c;
    --secondary-300-20: #d78ecb33;
    --secondary-300-10: #d78ecb19;

    --secondary-400: #ca68ba;
    --secondary-400-90: #ca68bae5;
    --secondary-400-80: #ca68bacc;
    --secondary-400-70: #ca68bab2;
    --secondary-400-60: #ca68ba99;
    --secondary-400-50: #ca68ba7f;
    --secondary-400-40: #ca68ba66;
    --secondary-400-30: #ca68ba4c;
    --secondary-400-20: #ca68ba33;
    --secondary-400-10: #ca68ba19;

    --secondary-500: #bd42a8;
    --secondary-500-90: #bd42a8e5;
    --secondary-500-80: #bd42a8cc;
    --secondary-500-70: #bd42a8b2;
    --secondary-500-60: #bd42a899;
    --secondary-500-50: #bd42a87f;
    --secondary-500-40: #bd42a866;
    --secondary-500-30: #bd42a84c;
    --secondary-500-20: #bd42a833;
    --secondary-500-10: #bd42a819;

    --secondary-600: #973587;
    --secondary-600-90: #973587e5;
    --secondary-600-80: #973587cc;
    --secondary-600-70: #973587b2;
    --secondary-600-60: #97358799;
    --secondary-600-50: #9735877f;
    --secondary-600-40: #97358766;
    --secondary-600-30: #9735874c;
    --secondary-600-20: #97358733;
    --secondary-600-10: #97358719;

    --secondary-700: #712865;
    --secondary-700-90: #712865e5;
    --secondary-700-80: #712865cc;
    --secondary-700-70: #712865b2;
    --secondary-700-60: #71286599;
    --secondary-700-50: #7128657f;
    --secondary-700-40: #71286566;
    --secondary-700-30: #7128654c;
    --secondary-700-20: #71286533;
    --secondary-700-10: #71286519;

    --secondary-800: #4b1b43;
    --secondary-800-90: #4b1b43e5;
    --secondary-800-80: #4b1b43cc;
    --secondary-800-70: #4b1b43b2;
    --secondary-800-60: #4b1b4399;
    --secondary-800-50: #4b1b437f;
    --secondary-800-40: #4b1b4366;
    --secondary-800-30: #4b1b434c;
    --secondary-800-20: #4b1b4333;
    --secondary-800-10: #4b1b4319;

    --secondary-900: #260d22;
    --secondary-900-90: #260d22e5;
    --secondary-900-80: #260d22cc;
    --secondary-900-70: #260d22b2;
    --secondary-900-60: #260d2299;
    --secondary-900-50: #260d227f;
    --secondary-900-40: #260d2266;
    --secondary-900-30: #260d224c;
    --secondary-900-20: #260d2233;
    --secondary-900-10: #260d2219;

    --secondary-950: #130711;
    --secondary-950-90: #130711e5;
    --secondary-950-80: #130711cc;
    --secondary-950-70: #130711b2;
    --secondary-950-60: #13071199;
    --secondary-950-50: #1307117f;
    --secondary-950-40: #13071166;
    --secondary-950-30: #1307114c;
    --secondary-950-20: #13071133;
    --secondary-950-10: #13071119;

    --accent-50: #f9ebf7;
    --accent-50-90: #f9ebf7e5;
    --accent-50-80: #f9ebf7cc;
    --accent-50-70: #f9ebf7b2;
    --accent-50-60: #f9ebf799;
    --accent-50-50: #f9ebf77f;
    --accent-50-40: #f9ebf766;
    --accent-50-30: #f9ebf74c;
    --accent-50-20: #f9ebf733;
    --accent-50-10: #f9ebf719;

    --accent-100: #f4d7ef;
    --accent-100-90: #f4d7efe5;
    --accent-100-80: #f4d7efcc;
    --accent-100-70: #f4d7efb2;
    --accent-100-60: #f4d7ef99;
    --accent-100-50: #f4d7ef7f;
    --accent-100-40: #f4d7ef66;
    --accent-100-30: #f4d7ef4c;
    --accent-100-20: #f4d7ef33;
    --accent-100-10: #f4d7ef19;

    --accent-200: #e8b0df;
    --accent-200-90: #e8b0dfe5;
    --accent-200-80: #e8b0dfcc;
    --accent-200-70: #e8b0dfb2;
    --accent-200-60: #e8b0df99;
    --accent-200-50: #e8b0df7f;
    --accent-200-40: #e8b0df66;
    --accent-200-30: #e8b0df4c;
    --accent-200-20: #e8b0df33;
    --accent-200-10: #e8b0df19;

    --accent-300: #dd88cf;
    --accent-300-90: #dd88cfe5;
    --accent-300-80: #dd88cfcc;
    --accent-300-70: #dd88cfb2;
    --accent-300-60: #dd88cf99;
    --accent-300-50: #dd88cf7f;
    --accent-300-40: #dd88cf66;
    --accent-300-30: #dd88cf4c;
    --accent-300-20: #dd88cf33;
    --accent-300-10: #dd88cf19;

    --accent-400: #d161be;
    --accent-400-90: #d161bee5;
    --accent-400-80: #d161becc;
    --accent-400-70: #d161beb2;
    --accent-400-60: #d161be99;
    --accent-400-50: #d161be7f;
    --accent-400-40: #d161be66;
    --accent-400-30: #d161be4c;
    --accent-400-20: #d161be33;
    --accent-400-10: #d161be19;

    --accent-500: #c639ae;
    --accent-500-90: #c639aee5;
    --accent-500-80: #c639aecc;
    --accent-500-70: #c639aeb2;
    --accent-500-60: #c639ae99;
    --accent-500-50: #c639ae7f;
    --accent-500-40: #c639ae66;
    --accent-500-30: #c639ae4c;
    --accent-500-20: #c639ae33;
    --accent-500-10: #c639ae19;

    --accent-600: #9e2e8b;
    --accent-600-90: #9e2e8be5;
    --accent-600-80: #9e2e8bcc;
    --accent-600-70: #9e2e8bb2;
    --accent-600-60: #9e2e8b99;
    --accent-600-50: #9e2e8b7f;
    --accent-600-40: #9e2e8b66;
    --accent-600-30: #9e2e8b4c;
    --accent-600-20: #9e2e8b33;
    --accent-600-10: #9e2e8b19;

    --accent-700: #772269;
    --accent-700-90: #772269e5;
    --accent-700-80: #772269cc;
    --accent-700-70: #772269b2;
    --accent-700-60: #77226999;
    --accent-700-50: #7722697f;
    --accent-700-40: #77226966;
    --accent-700-30: #7722694c;
    --accent-700-20: #77226933;
    --accent-700-10: #77226919;

    --accent-800: #4f1746;
    --accent-800-90: #4f1746e5;
    --accent-800-80: #4f1746cc;
    --accent-800-70: #4f1746b2;
    --accent-800-60: #4f174699;
    --accent-800-50: #4f17467f;
    --accent-800-40: #4f174666;
    --accent-800-30: #4f17464c;
    --accent-800-20: #4f174633;
    --accent-800-10: #4f174619;

    --accent-900: #280b23;
    --accent-900-90: #280b23e5;
    --accent-900-80: #280b23cc;
    --accent-900-70: #280b23b2;
    --accent-900-60: #280b2399;
    --accent-900-50: #280b237f;
    --accent-900-40: #280b2366;
    --accent-900-30: #280b234c;
    --accent-900-20: #280b2333;
    --accent-900-10: #280b2319;

    --accent-950: #140611;
    --accent-950-90: #140611e5;
    --accent-950-80: #140611cc;
    --accent-950-70: #140611b2;
    --accent-950-60: #14061199;
    --accent-950-50: #1406117f;
    --accent-950-40: #14061166;
    --accent-950-30: #1406114c;
    --accent-950-20: #14061133;
    --accent-950-10: #14061119;
  }
}
@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  :root {
    --text-50: #10090f;
    --text-50-90: #10090fe5;
    --text-50-80: #10090fcc;
    --text-50-70: #10090fb2;
    --text-50-60: #10090f99;
    --text-50-50: #10090f7f;
    --text-50-40: #10090f66;
    --text-50-30: #10090f4c;
    --text-50-20: #10090f33;
    --text-50-10: #10090f19;

    --text-100: #20131f;
    --text-100-90: #20131fe5;
    --text-100-80: #20131fcc;
    --text-100-70: #20131fb2;
    --text-100-60: #20131f99;
    --text-100-50: #20131f7f;
    --text-100-40: #20131f66;
    --text-100-30: #20131f4c;
    --text-100-20: #20131f33;
    --text-100-10: #20131f19;

    --text-200: #41253d;
    --text-200-90: #41253de5;
    --text-200-80: #41253dcc;
    --text-200-70: #41253db2;
    --text-200-60: #41253d99;
    --text-200-50: #41253d7f;
    --text-200-40: #41253d66;
    --text-200-30: #41253d4c;
    --text-200-20: #41253d33;
    --text-200-10: #41253d19;

    --text-300: #61385c;
    --text-300-90: #61385ce5;
    --text-300-80: #61385ccc;
    --text-300-70: #61385cb2;
    --text-300-60: #61385c99;
    --text-300-50: #61385c7f;
    --text-300-40: #61385c66;
    --text-300-30: #61385c4c;
    --text-300-20: #61385c33;
    --text-300-10: #61385c19;

    --text-400: #824a7a;
    --text-400-90: #824a7ae5;
    --text-400-80: #824a7acc;
    --text-400-70: #824a7ab2;
    --text-400-60: #824a7a99;
    --text-400-50: #824a7a7f;
    --text-400-40: #824a7a66;
    --text-400-30: #824a7a4c;
    --text-400-20: #824a7a33;
    --text-400-10: #824a7a19;

    --text-500: #a25d99;
    --text-500-90: #a25d99e5;
    --text-500-80: #a25d99cc;
    --text-500-70: #a25d99b2;
    --text-500-60: #a25d9999;
    --text-500-50: #a25d997f;
    --text-500-40: #a25d9966;
    --text-500-30: #a25d994c;
    --text-500-20: #a25d9933;
    --text-500-10: #a25d9919;

    --text-600: #b57dad;
    --text-600-90: #b57dade5;
    --text-600-80: #b57dadcc;
    --text-600-70: #b57dadb2;
    --text-600-60: #b57dad99;
    --text-600-50: #b57dad7f;
    --text-600-40: #b57dad66;
    --text-600-30: #b57dad4c;
    --text-600-20: #b57dad33;
    --text-600-10: #b57dad19;

    --text-700: #c79ec2;
    --text-700-90: #c79ec2e5;
    --text-700-80: #c79ec2cc;
    --text-700-70: #c79ec2b2;
    --text-700-60: #c79ec299;
    --text-700-50: #c79ec27f;
    --text-700-40: #c79ec266;
    --text-700-30: #c79ec24c;
    --text-700-20: #c79ec233;
    --text-700-10: #c79ec219;

    --text-800: #dabed6;
    --text-800-90: #dabed6e5;
    --text-800-80: #dabed6cc;
    --text-800-70: #dabed6b2;
    --text-800-60: #dabed699;
    --text-800-50: #dabed67f;
    --text-800-40: #dabed666;
    --text-800-30: #dabed64c;
    --text-800-20: #dabed633;
    --text-800-10: #dabed619;

    --text-900: #ecdfeb;
    --text-900-90: #ecdfebe5;
    --text-900-80: #ecdfebcc;
    --text-900-70: #ecdfebb2;
    --text-900-60: #ecdfeb99;
    --text-900-50: #ecdfeb7f;
    --text-900-40: #ecdfeb66;
    --text-900-30: #ecdfeb4c;
    --text-900-20: #ecdfeb33;
    --text-900-10: #ecdfeb19;

    --text-950: #f6eff5;
    --text-950-90: #f6eff5e5;
    --text-950-80: #f6eff5cc;
    --text-950-70: #f6eff5b2;
    --text-950-60: #f6eff599;
    --text-950-50: #f6eff57f;
    --text-950-40: #f6eff566;
    --text-950-30: #f6eff54c;
    --text-950-20: #f6eff533;
    --text-950-10: #f6eff519;

    --background-50: #11090f;
    --background-50-90: #11090fe5;
    --background-50-80: #11090fcc;
    --background-50-70: #11090fb2;
    --background-50-60: #11090f99;
    --background-50-50: #11090f7f;
    --background-50-40: #11090f66;
    --background-50-30: #11090f4c;
    --background-50-20: #11090f33;
    --background-50-10: #11090f19;

    --background-100: #22111d;
    --background-100-90: #22111de5;
    --background-100-80: #22111dcc;
    --background-100-70: #22111db2;
    --background-100-60: #22111d99;
    --background-100-50: #22111d7f;
    --background-100-40: #22111d66;
    --background-100-30: #22111d4c;
    --background-100-20: #22111d33;
    --background-100-10: #22111d19;

    --background-200: #44223a;
    --background-200-90: #44223ae5;
    --background-200-80: #44223acc;
    --background-200-70: #44223ab2;
    --background-200-60: #44223a99;
    --background-200-50: #44223a7f;
    --background-200-40: #44223a66;
    --background-200-30: #44223a4c;
    --background-200-20: #44223a33;
    --background-200-10: #44223a19;

    --background-300: #663357;
    --background-300-90: #663357e5;
    --background-300-80: #663357cc;
    --background-300-70: #663357b2;
    --background-300-60: #66335799;
    --background-300-50: #6633577f;
    --background-300-40: #66335766;
    --background-300-30: #6633574c;
    --background-300-20: #66335733;
    --background-300-10: #66335719;

    --background-400: #884475;
    --background-400-90: #884475e5;
    --background-400-80: #884475cc;
    --background-400-70: #884475b2;
    --background-400-60: #88447599;
    --background-400-50: #8844757f;
    --background-400-40: #88447566;
    --background-400-30: #8844754c;
    --background-400-20: #88447533;
    --background-400-10: #88447519;

    --background-500: #aa5592;
    --background-500-90: #aa5592e5;
    --background-500-80: #aa5592cc;
    --background-500-70: #aa5592b2;
    --background-500-60: #aa559299;
    --background-500-50: #aa55927f;
    --background-500-40: #aa559266;
    --background-500-30: #aa55924c;
    --background-500-20: #aa559233;
    --background-500-10: #aa559219;

    --background-600: #bb77a8;
    --background-600-90: #bb77a8e5;
    --background-600-80: #bb77a8cc;
    --background-600-70: #bb77a8b2;
    --background-600-60: #bb77a899;
    --background-600-50: #bb77a87f;
    --background-600-40: #bb77a866;
    --background-600-30: #bb77a84c;
    --background-600-20: #bb77a833;
    --background-600-10: #bb77a819;

    --background-700: #cc99bd;
    --background-700-90: #cc99bde5;
    --background-700-80: #cc99bdcc;
    --background-700-70: #cc99bdb2;
    --background-700-60: #cc99bd99;
    --background-700-50: #cc99bd7f;
    --background-700-40: #cc99bd66;
    --background-700-30: #cc99bd4c;
    --background-700-20: #cc99bd33;
    --background-700-10: #cc99bd19;

    --background-800: #ddbbd3;
    --background-800-90: #ddbbd3e5;
    --background-800-80: #ddbbd3cc;
    --background-800-70: #ddbbd3b2;
    --background-800-60: #ddbbd399;
    --background-800-50: #ddbbd37f;
    --background-800-40: #ddbbd366;
    --background-800-30: #ddbbd34c;
    --background-800-20: #ddbbd333;
    --background-800-10: #ddbbd319;

    --background-900: #eedde9;
    --background-900-90: #eedde9e5;
    --background-900-80: #eedde9cc;
    --background-900-70: #eedde9b2;
    --background-900-60: #eedde999;
    --background-900-50: #eedde97f;
    --background-900-40: #eedde966;
    --background-900-30: #eedde94c;
    --background-900-20: #eedde933;
    --background-900-10: #eedde919;

    --background-950: #f6eef4;
    --background-950-90: #f6eef4e5;
    --background-950-80: #f6eef4cc;
    --background-950-70: #f6eef4b2;
    --background-950-60: #f6eef499;
    --background-950-50: #f6eef47f;
    --background-950-40: #f6eef466;
    --background-950-30: #f6eef44c;
    --background-950-20: #f6eef433;
    --background-950-10: #f6eef419;

    --primary-50: #120810;
    --primary-50-90: #120810e5;
    --primary-50-80: #120810cc;
    --primary-50-70: #120810b2;
    --primary-50-60: #12081099;
    --primary-50-50: #1208107f;
    --primary-50-40: #12081066;
    --primary-50-30: #1208104c;
    --primary-50-20: #12081033;
    --primary-50-10: #12081019;

    --primary-100: #240f20;
    --primary-100-90: #240f20e5;
    --primary-100-80: #240f20cc;
    --primary-100-70: #240f20b2;
    --primary-100-60: #240f2099;
    --primary-100-50: #240f207f;
    --primary-100-40: #240f2066;
    --primary-100-30: #240f204c;
    --primary-100-20: #240f2033;
    --primary-100-10: #240f2019;

    --primary-200: #481e41;
    --primary-200-90: #481e41e5;
    --primary-200-80: #481e41cc;
    --primary-200-70: #481e41b2;
    --primary-200-60: #481e4199;
    --primary-200-50: #481e417f;
    --primary-200-40: #481e4166;
    --primary-200-30: #481e414c;
    --primary-200-20: #481e4133;
    --primary-200-10: #481e4119;

    --primary-300: #6c2d61;
    --primary-300-90: #6c2d61e5;
    --primary-300-80: #6c2d61cc;
    --primary-300-70: #6c2d61b2;
    --primary-300-60: #6c2d6199;
    --primary-300-50: #6c2d617f;
    --primary-300-40: #6c2d6166;
    --primary-300-30: #6c2d614c;
    --primary-300-20: #6c2d6133;
    --primary-300-10: #6c2d6119;

    --primary-400: #903c82;
    --primary-400-90: #903c82e5;
    --primary-400-80: #903c82cc;
    --primary-400-70: #903c82b2;
    --primary-400-60: #903c8299;
    --primary-400-50: #903c827f;
    --primary-400-40: #903c8266;
    --primary-400-30: #903c824c;
    --primary-400-20: #903c8233;
    --primary-400-10: #903c8219;

    --primary-500: #b44ba2;
    --primary-500-90: #b44ba2e5;
    --primary-500-80: #b44ba2cc;
    --primary-500-70: #b44ba2b2;
    --primary-500-60: #b44ba299;
    --primary-500-50: #b44ba27f;
    --primary-500-40: #b44ba266;
    --primary-500-30: #b44ba24c;
    --primary-500-20: #b44ba233;
    --primary-500-10: #b44ba219;

    --primary-600: #c36fb5;
    --primary-600-90: #c36fb5e5;
    --primary-600-80: #c36fb5cc;
    --primary-600-70: #c36fb5b2;
    --primary-600-60: #c36fb599;
    --primary-600-50: #c36fb57f;
    --primary-600-40: #c36fb566;
    --primary-600-30: #c36fb54c;
    --primary-600-20: #c36fb533;
    --primary-600-10: #c36fb519;

    --primary-700: #d293c7;
    --primary-700-90: #d293c7e5;
    --primary-700-80: #d293c7cc;
    --primary-700-70: #d293c7b2;
    --primary-700-60: #d293c799;
    --primary-700-50: #d293c77f;
    --primary-700-40: #d293c766;
    --primary-700-30: #d293c74c;
    --primary-700-20: #d293c733;
    --primary-700-10: #d293c719;

    --primary-800: #e1b7da;
    --primary-800-90: #e1b7dae5;
    --primary-800-80: #e1b7dacc;
    --primary-800-70: #e1b7dab2;
    --primary-800-60: #e1b7da99;
    --primary-800-50: #e1b7da7f;
    --primary-800-40: #e1b7da66;
    --primary-800-30: #e1b7da4c;
    --primary-800-20: #e1b7da33;
    --primary-800-10: #e1b7da19;

    --primary-900: #f0dbec;
    --primary-900-90: #f0dbece5;
    --primary-900-80: #f0dbeccc;
    --primary-900-70: #f0dbecb2;
    --primary-900-60: #f0dbec99;
    --primary-900-50: #f0dbec7f;
    --primary-900-40: #f0dbec66;
    --primary-900-30: #f0dbec4c;
    --primary-900-20: #f0dbec33;
    --primary-900-10: #f0dbec19;

    --primary-950: #f7edf6;
    --primary-950-90: #f7edf6e5;
    --primary-950-80: #f7edf6cc;
    --primary-950-70: #f7edf6b2;
    --primary-950-60: #f7edf699;
    --primary-950-50: #f7edf67f;
    --primary-950-40: #f7edf666;
    --primary-950-30: #f7edf64c;
    --primary-950-20: #f7edf633;
    --primary-950-10: #f7edf619;

    --secondary-50: #130711;
    --secondary-50-90: #130711e5;
    --secondary-50-80: #130711cc;
    --secondary-50-70: #130711b2;
    --secondary-50-60: #13071199;
    --secondary-50-50: #1307117f;
    --secondary-50-40: #13071166;
    --secondary-50-30: #1307114c;
    --secondary-50-20: #13071133;
    --secondary-50-10: #13071119;

    --secondary-100: #260d22;
    --secondary-100-90: #260d22e5;
    --secondary-100-80: #260d22cc;
    --secondary-100-70: #260d22b2;
    --secondary-100-60: #260d2299;
    --secondary-100-50: #260d227f;
    --secondary-100-40: #260d2266;
    --secondary-100-30: #260d224c;
    --secondary-100-20: #260d2233;
    --secondary-100-10: #260d2219;

    --secondary-200: #4b1b43;
    --secondary-200-90: #4b1b43e5;
    --secondary-200-80: #4b1b43cc;
    --secondary-200-70: #4b1b43b2;
    --secondary-200-60: #4b1b4399;
    --secondary-200-50: #4b1b437f;
    --secondary-200-40: #4b1b4366;
    --secondary-200-30: #4b1b434c;
    --secondary-200-20: #4b1b4333;
    --secondary-200-10: #4b1b4319;

    --secondary-300: #712865;
    --secondary-300-90: #712865e5;
    --secondary-300-80: #712865cc;
    --secondary-300-70: #712865b2;
    --secondary-300-60: #71286599;
    --secondary-300-50: #7128657f;
    --secondary-300-40: #71286566;
    --secondary-300-30: #7128654c;
    --secondary-300-20: #71286533;
    --secondary-300-10: #71286519;

    --secondary-400: #973587;
    --secondary-400-90: #973587e5;
    --secondary-400-80: #973587cc;
    --secondary-400-70: #973587b2;
    --secondary-400-60: #97358799;
    --secondary-400-50: #9735877f;
    --secondary-400-40: #97358766;
    --secondary-400-30: #9735874c;
    --secondary-400-20: #97358733;
    --secondary-400-10: #97358719;

    --secondary-500: #bd42a8;
    --secondary-500-90: #bd42a8e5;
    --secondary-500-80: #bd42a8cc;
    --secondary-500-70: #bd42a8b2;
    --secondary-500-60: #bd42a899;
    --secondary-500-50: #bd42a87f;
    --secondary-500-40: #bd42a866;
    --secondary-500-30: #bd42a84c;
    --secondary-500-20: #bd42a833;
    --secondary-500-10: #bd42a819;

    --secondary-600: #ca68ba;
    --secondary-600-90: #ca68bae5;
    --secondary-600-80: #ca68bacc;
    --secondary-600-70: #ca68bab2;
    --secondary-600-60: #ca68ba99;
    --secondary-600-50: #ca68ba7f;
    --secondary-600-40: #ca68ba66;
    --secondary-600-30: #ca68ba4c;
    --secondary-600-20: #ca68ba33;
    --secondary-600-10: #ca68ba19;

    --secondary-700: #d78ecb;
    --secondary-700-90: #d78ecbe5;
    --secondary-700-80: #d78ecbcc;
    --secondary-700-70: #d78ecbb2;
    --secondary-700-60: #d78ecb99;
    --secondary-700-50: #d78ecb7f;
    --secondary-700-40: #d78ecb66;
    --secondary-700-30: #d78ecb4c;
    --secondary-700-20: #d78ecb33;
    --secondary-700-10: #d78ecb19;

    --secondary-800: #e4b4dc;
    --secondary-800-90: #e4b4dce5;
    --secondary-800-80: #e4b4dccc;
    --secondary-800-70: #e4b4dcb2;
    --secondary-800-60: #e4b4dc99;
    --secondary-800-50: #e4b4dc7f;
    --secondary-800-40: #e4b4dc66;
    --secondary-800-30: #e4b4dc4c;
    --secondary-800-20: #e4b4dc33;
    --secondary-800-10: #e4b4dc19;

    --secondary-900: #f2d9ee;
    --secondary-900-90: #f2d9eee5;
    --secondary-900-80: #f2d9eecc;
    --secondary-900-70: #f2d9eeb2;
    --secondary-900-60: #f2d9ee99;
    --secondary-900-50: #f2d9ee7f;
    --secondary-900-40: #f2d9ee66;
    --secondary-900-30: #f2d9ee4c;
    --secondary-900-20: #f2d9ee33;
    --secondary-900-10: #f2d9ee19;

    --secondary-950: #f8ecf6;
    --secondary-950-90: #f8ecf6e5;
    --secondary-950-80: #f8ecf6cc;
    --secondary-950-70: #f8ecf6b2;
    --secondary-950-60: #f8ecf699;
    --secondary-950-50: #f8ecf67f;
    --secondary-950-40: #f8ecf666;
    --secondary-950-30: #f8ecf64c;
    --secondary-950-20: #f8ecf633;
    --secondary-950-10: #f8ecf619;

    --accent-50: #140611;
    --accent-50-90: #140611e5;
    --accent-50-80: #140611cc;
    --accent-50-70: #140611b2;
    --accent-50-60: #14061199;
    --accent-50-50: #1406117f;
    --accent-50-40: #14061166;
    --accent-50-30: #1406114c;
    --accent-50-20: #14061133;
    --accent-50-10: #14061119;

    --accent-100: #280b23;
    --accent-100-90: #280b23e5;
    --accent-100-80: #280b23cc;
    --accent-100-70: #280b23b2;
    --accent-100-60: #280b2399;
    --accent-100-50: #280b237f;
    --accent-100-40: #280b2366;
    --accent-100-30: #280b234c;
    --accent-100-20: #280b2333;
    --accent-100-10: #280b2319;

    --accent-200: #4f1746;
    --accent-200-90: #4f1746e5;
    --accent-200-80: #4f1746cc;
    --accent-200-70: #4f1746b2;
    --accent-200-60: #4f174699;
    --accent-200-50: #4f17467f;
    --accent-200-40: #4f174666;
    --accent-200-30: #4f17464c;
    --accent-200-20: #4f174633;
    --accent-200-10: #4f174619;

    --accent-300: #772269;
    --accent-300-90: #772269e5;
    --accent-300-80: #772269cc;
    --accent-300-70: #772269b2;
    --accent-300-60: #77226999;
    --accent-300-50: #7722697f;
    --accent-300-40: #77226966;
    --accent-300-30: #7722694c;
    --accent-300-20: #77226933;
    --accent-300-10: #77226919;

    --accent-400: #9e2e8b;
    --accent-400-90: #9e2e8be5;
    --accent-400-80: #9e2e8bcc;
    --accent-400-70: #9e2e8bb2;
    --accent-400-60: #9e2e8b99;
    --accent-400-50: #9e2e8b7f;
    --accent-400-40: #9e2e8b66;
    --accent-400-30: #9e2e8b4c;
    --accent-400-20: #9e2e8b33;
    --accent-400-10: #9e2e8b19;

    --accent-500: #c639ae;
    --accent-500-90: #c639aee5;
    --accent-500-80: #c639aecc;
    --accent-500-70: #c639aeb2;
    --accent-500-60: #c639ae99;
    --accent-500-50: #c639ae7f;
    --accent-500-40: #c639ae66;
    --accent-500-30: #c639ae4c;
    --accent-500-20: #c639ae33;
    --accent-500-10: #c639ae19;

    --accent-600: #d161be;
    --accent-600-90: #d161bee5;
    --accent-600-80: #d161becc;
    --accent-600-70: #d161beb2;
    --accent-600-60: #d161be99;
    --accent-600-50: #d161be7f;
    --accent-600-40: #d161be66;
    --accent-600-30: #d161be4c;
    --accent-600-20: #d161be33;
    --accent-600-10: #d161be19;

    --accent-700: #dd88cf;
    --accent-700-90: #dd88cfe5;
    --accent-700-80: #dd88cfcc;
    --accent-700-70: #dd88cfb2;
    --accent-700-60: #dd88cf99;
    --accent-700-50: #dd88cf7f;
    --accent-700-40: #dd88cf66;
    --accent-700-30: #dd88cf4c;
    --accent-700-20: #dd88cf33;
    --accent-700-10: #dd88cf19;

    --accent-800: #e8b0df;
    --accent-800-90: #e8b0dfe5;
    --accent-800-80: #e8b0dfcc;
    --accent-800-70: #e8b0dfb2;
    --accent-800-60: #e8b0df99;
    --accent-800-50: #e8b0df7f;
    --accent-800-40: #e8b0df66;
    --accent-800-30: #e8b0df4c;
    --accent-800-20: #e8b0df33;
    --accent-800-10: #e8b0df19;

    --accent-900: #f4d7ef;
    --accent-900-90: #f4d7efe5;
    --accent-900-80: #f4d7efcc;
    --accent-900-70: #f4d7efb2;
    --accent-900-60: #f4d7ef99;
    --accent-900-50: #f4d7ef7f;
    --accent-900-40: #f4d7ef66;
    --accent-900-30: #f4d7ef4c;
    --accent-900-20: #f4d7ef33;
    --accent-900-10: #f4d7ef19;

    --accent-950: #f9ebf7;
    --accent-950-90: #f9ebf7e5;
    --accent-950-80: #f9ebf7cc;
    --accent-950-70: #f9ebf7b2;
    --accent-950-60: #f9ebf799;
    --accent-950-50: #f9ebf77f;
    --accent-950-40: #f9ebf766;
    --accent-950-30: #f9ebf74c;
    --accent-950-20: #f9ebf733;
    --accent-950-10: #f9ebf719;
  }
}
